@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #2f2f40;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    padding-bottom: 200px;
    width: 100%;
    height: 400px;
    background-color: #1f1c22;
}
.header-title {
    font-family: 'Source Code Pro';
    font-weight: bold;
    color: #ece2ff;
    font-size: 75px;
    text-align: center;
}
.header-description {
    font-family: 'Source Code Pro';
    font-weight: lighter;
    color: #ddd3f0;
    font-size: 20px;
    text-align: center;
}

article {
    background-color: #2f2f40;
    margin-top: 10px;
    margin-bottom: 10px;
}
.article-title {
    color: #ddd6f7;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 22px;
}
.article-title-div {
    width: 100%;
}

section {
    float: left;
    background-color: #39394c;
    border: none;
    padding: 14px;
    margin: 17px;
    height: 420px;
    width: 500px;
    cursor: pointer;
    font-family: 'Roboto';
}
section:hover {
    background-color: #3b3b50;
}
section:active {
    background-color: #373749;
}

.projects-div {
    display: flex;
    align-self: center;
    flex-flow: row wrap;
    justify-content: center;
}
.project-image {
    max-width: 500px;
    max-height: 376px;
}
.project-title {
    color: rgb(226, 215, 233);
    font-weight: bold;
    font-size: 18px;
}
.project-description {
    line-height: 1.4;
    color: rgb(226, 215, 233);
    font-weight: lighter;
    font-size: 16px;
}

footer {
    font-family: 'Source Code Pro';
    color: #f5f5f5;
    background-color: #282836;
    height: 90px;
    width: 100%;
    margin-top: 50px;
}

@media only screen and (max-width: 745px) {
    section {
        width: 260px;
        height: 320px
    }
    .project-image {
        max-width: 260px;
        max-height: 249px;
    }
    .header-title {
        font-size: 40px;
    }
    .header-description {
        font-size: 12px;
    }
}
